name: roombooker
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  font_awesome_flutter: ^10.12.0
  google_fonts: ^7.0.2
  lottie: ^3.3.2
  shared_preferences: ^2.5.4
  table_calendar: ^3.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/lotties/
